<div class="col-md-10 col-md-offset-1">
    <div class="jumbotron text-center jumbo">
        <h1>Free Online Contact Manager</h1>
        <p class="lead">Organize your contacts freely and easily</p>
        <p>
            <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg'%>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-default btn-lg'%>
        </p>
    </div>
</div>
