<div class="col-md-10 col-md-offset-1">
    <div class="jumbotron text-center jumbo">
        <h1>404</h1>
        <p class="lead">Sorry the content cannot be found</p>
        <p>
            <%= link_to 'Go back to your Contacts', contacts_path, class: 'btn btn-primary'%>
        </p>
    </div>
</div>