/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jasny-bootstrap.min
 *= require jquery-ui/autocomplete
  *= require jquery-ui/menu
 *= require_self
 */

body {
  padding-top: 70px;
  background: #614A76 !important;
}

.navbar {
  -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}
.brand-panel {
  background-color: #4E2C6F !important;
  margin-top: 30%;
  border-color: #756C7E !important;
}

.btn-success {
  color: #fff;
  background-color: #350362 !important;
  border-color: #350362 !important;
  color: #756C7E !important;
}

.brand-primary {
  background-color: #756C7E !important;
  color: #350362 !important;
}
.brand-secondary-text {
  color: #756C7E;
}

.middle {
  background-color: #756C7E !important;
  border-color: #350362 !important;
}

.panel-heading {
  border-color: #350362 !important;
}

.btn-primary {
  background-color: #614A76 !important;
  border-color: #614A76 !important;
  color: #350362 !important;
}

.navbar .navbar-brand {
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 20px;
  color: #350362
}

.navbar-right {
  margin-right: 0;
}

.table tbody>tr>td.middle {
  vertical-align: middle;
}

.media {
  padding: 10px 0;
}

.media img, .fileinput .thumbnail, .thumbnail img {
  border-radius: 50%;
}

.media-left {
  padding: 0 20px;
}

.media-heading {
  color: #dd5638;
  margin-bottom: 10px;
}

.media-body {
  padding-top: 15px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.panel-footer.message {
  border-top: 0;
}

.alert-warning {
  margin-bottom: 0 !important;
}

.ui-autocomplete {
  position: relative;
  cursor: default;
  z-index: 9999 !important;
  width: 210px;
  border-radius: 0 0 5% 5%;
}

.ui-helper-hidden-accessible {
  display: none;
}

.btn-circle {
  border-radius: 50% !important;
}
.list-group-item {
  background-color: #756C7E !important;
  border-color: #756C7E !important;
  color: #350362 !important;
}
.list-group-item>.badge {
  background-color: #350362;
  border-color: #350362;
  color: #756C7E;
}

.list-group-item.active {
  background-color: #350362 !important;
  border-color: #350362 !important;
  color: #756C7E !important;
}

.list-group-item.active>.badge {
  background-color: #756C7E !important;
  border-color: #756C7E !important;
  color: #350362 !important;
}

.panel-heading {
  background-color: #756C7E !important;
  color: #350362 !important;
}

.panel.panel-default {
  -moz-box-shadow: rgba(0, 0, 0.1, 0.1) 2px 2.5px 0;
  -webkit-box-shadow: rgba(0, 0, 0.1, 0.1) 2px 2.5px 0;
  box-shadow: rgba(0, 0, 0.1, 0.1) 2px  2.5px 0;
  border: 1.5px solid #350362 !important;
}

.pagination-custom {
  background-color: #756C7E !important;
  color: #350362 !important;
  border-color: #756C7E !important;
}

.pagination-active {
  background-color: #350362 !important;
  border-color: #350362 !important;
  color: #756C7E !important;
}
